//COLORS

$color-light-cream: hsl(44, 29%, 90%);
$color-white: hsl(0, 0%, 100%);
$color-dark-cream: hsl(43, 11%, 80%);

$gray-100: hsl(0, 0%, 80%);
$gray-250: hsl(0, 0%, 60%);
$gray-350: hsl(0, 0%, 50%);
$gray-450: hsl(0, 0%, 40%);
$gray-550: hsl(0, 0%, 30%);
$gray-700: hsl(0, 0%, 20%);
$gray-750: hsl(0, 0%, 15%);
$gray-790: hsl(0, 0%, 10%);
$gray-800: hsl(0, 0%, 8%);
$color-black: hsl(0, 0%, 0%);

//FONT

$default-size: 1.6rem;

//BORDERS

$border-small: 0.5rem;
