*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //10px

  @include media(tab-port) {
    font-size: 50%; //8px
  }
  @include media(tab-land) {
    font-size: 56.25%; //9px
  }
}

body {
  background-color: $color-light-cream;
  font-family: "Abril Fatface", serif;
  color: $gray-550;
  box-sizing: border-box;
}
