.u-margin-bottom-xSmall {
  margin-bottom: 1rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.u-width-full {
  width: 100%;
}

.u-width-50 {
  width: 50%;
}

.u-width-30 {
  width: 30%;
}

.u-width-25 {
  width: 25%;
}

.u-gap-medium {
  gap: 4rem;
}

.u-gap-small {
  gap: 2rem;
}

.u-gap-Xsmall {
  gap: 0.5rem;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.u-flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
